$dark: #596160;
$red: #D20000;

body {
    background-color: #000000;
    overflow: hidden;
}

.loginbg {
    background: url(https://www.punchbowl.com/gridfs/fs/4db1dcafec8d837cee000282-1303502001) no-repeat center center fixed; 
    background-size: 110%;
    padding-bottom: 500px;
}
  
.header {
  height: 75px;
}

.main {
  overflow: auto;
}

.searchmodal {
  background-color: #ECECEC;
  border-radius: 5px;
  overflow: auto;
  padding: 0;
}


.logo {
  font-weight: 600;
  position: absolute;
  color: $red;
  display: inline-block;
  font-size: 3.1rem;
  text-shadow: 0px 0px 10px #000;
  padding: 0;
  letter-spacing: -3px;
  margin-left: 10px;
  white-space: nowrap;
}

.card_border_radius {
  border-radius: 5px;
  background-color: #F6F6F6;
  width: 500px;

}


.lightblue {
  background-color: #73AAE2;
}

.signin {
  text-align: center;
  margin-bottom: -20px;
  padding-top: 20px;
}

.search {
  height: 100px;
  background-color: white;
  z-index: 3;
  border-radius: 5px;
}

.star-rated {
  color: $red;
}

.icons {
  padding-top: 20px;
}

.cardheight {
  height: 500px;
  min-width: 300px;
}

.hover {
  color: grey;
}

.hover:hover {
  color: black;
  cursor: pointer;
}

.movies {
  margin-top: 5px;
}

.mymovieheight {
  height: 520px;
  min-width: 300px;
}

.mysearch {
  margin-top: 20px;
}

.poster {
  background-color: black;
  height: 400px;
}

.contain {
  width: 1000px;
  margin: 0 auto;
  height: 700px;
  overflow: auto;
  overflow-x: auto;
  padding-right: 17px;
}

.star-not-rated {
  color: #E6E6E6;
}