
<div class="row">
  <div class="col s10 offset-s1">
    <div class="card-panel searchmodal">
      <div class="container"> 
        <h4>My Movies</h4>
        <div class="row" >
          <div class="col s4 " ng-repeat="chosenMovie in chosenMovies">
            <div class="card cardheight">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator width" ng-src={{chosenMovie.poster}}>
              </div>
              <div class="card-content">
                <span class="activator grey-text text-darken-4">{{chosenMovie.title}}<i class="fa fa-times right" aria-hidden="true"></i></span>
                <p class="year">{{chosenMovie.year}}</p>
                <!-- <div class="rating">Rating: {{chosenMovie.rating}}</div> -->


                    <div  ng-app="app" ng-controller="appController">
                        <div>
                          <div star-rating rating="starRating3" click="click3(param)" mouse-hover="mouseHover3(param)" mouse-leave="mouseLeave3(param)"></div>
                        </div>
                    </div>



                <!-- <div>
                  <i class="fa fa-star star-not-rated" aria-hidden="true"></i>
                  <i class="fa fa-star star-not-rated" aria-hidden="true"></i>
                  <i class="fa fa-star star-not-rated" aria-hidden="true"></i>
                  <i class="fa fa-star star-not-rated" aria-hidden="true"></i>
                  <i class="fa fa-star star-not-rated" aria-hidden="true"></i>
                </div> -->
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{chosenMovie.title}}<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
        </div> 
      </div> 
    </div>
  </div>
</div>