
<div class="row">
  <div class="col s10 offset-s1">
    <div class="card-panel searchmodal">
        <div class=" search">
          <div class="col s6 offset-s2 mysearch">
            <input type="text" placeholder="Start Typing to Filter My Movies" ng-model="searchText">
          </div>
          <div class="icons">
            <a href="/#/watched"><i class="fa fa-eye medium col s1  hover" aria-hidden="true"></i></a>
            <a href="/#/unwatched"><i class="fa fa-eye-slash medium col s1 hover" aria-hidden="true"></i></a>            
          </div>
        </div>
      <div class="contain ng-scope"> 
        <h4>My Movie Collection</h4>
        <div class="row">
          <div class="col s4" ng-repeat="chosenMovie in chosenMovies | filter: searchText | orderBy:'title'">
            <div class="card z-depth-0 mymovieheight">
              <div class="card-image poster waves-effect waves-block waves-light">
                <img class="activator" ng-src={{chosenMovie.poster}} err-src="http://static.wixstatic.com/media/fc5d35_737afeab558349559dcab15bd2ba88f5.jpg_256">
              </div>
              <div class="card-content">
                <span class="grey-text text-darken-4">{{chosenMovie.title}}
                  <i class="fa fa-times hover right" aria-hidden="true" ng-click="deleteMovie(chosenMovie.id, chosenMovie.title)"></i>
                </span>
                <p class="year">{{chosenMovie.year}}</p>
                <div>
                  <div star-rating rating="chosenMovie.rating" movie="chosenMovie.id" read-only="false" max-rating="5" click="click1(param)" mouse-hover="mouseHover1(param)" mouse-leave="mouseLeave3(param)"></div>
                </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{chosenMovie.title}}<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
        </div> 
      </div> 
    </div>
    </div>
  </div>
</div>


