

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card-panel searchmodal">
        <div class=" search">
          <div class="col s6 offset-s2 mysearch">
            <input type="text" placeholder="Start Typing to Filter Movies" ng-model="searchText">
          </div>
          <div class="icons">
            <i class="fa fa-eye medium col s1  hover" aria-hidden="true"></i>
            <i class="fa fa-eye-slash medium col s1 hover" aria-hidden="true"></i>            
          </div>
        </div>
    <div class="movies ng-scope">
      <div class="contain ng-scope"> 
        <div class="row">
          <div class="col s4" ng-repeat="chosenMovie in chosenMovies | filter: searchText">
            <div class="card z-depth-0 mymovieheight">
              <div class="card-image poster waves-effect waves-block waves-light">
                <img class="activator" ng-src={{chosenMovie.poster}} err-src="http://static1.squarespace.com/static/55fc0004e4b069a519961e2d/t/55fc06a8e4b043168701253c/1464110026374/?format=1000w">
              </div>
              <div class="card-content">
                <span class="grey-text text-darken-4">{{chosenMovie.title}}
                  <i class="fa fa-times hover right" aria-hidden="true" ng-click="deleteMovie(chosenMovie.id, chosenMovie.title)"></i>
                </span>
                <p class="year">{{chosenMovie.year}}</p>
                    <div  ng-app="app" ng-controller="appController">
                        <div star-rating rating="starRating3" click="click3(param)" mouse-hover="mouseHover3(param)" mouse-leave="mouseLeave3(param)"></div>
                    </div>
<!--            <div class="rating">
                  <form>
                    <label>Please rate this movie:</label>
                    <span><input type="number" size="3" min="1" max="5"ng-model="chosenMovie.rating"/><i class="material-icons tiny teal-text right hoverable" ng-click="rankMovie(chosenMovie)">stars</i></span>
                    <i class="material-icons tiny teal-text right hoverable" ng-click="deleteMovie(chosenMovie.id, chosenMovie.title)">delete</i>
                  </form>
                </div> -->
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{chosenMovie.title}}<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
        </div> 
      </div> 
    </div>
    </div>
  </div>
</div>

