<nav class="z-depth-0 black" ng-controller="AuthCTRL">
  <a class="logo">GroovyMoovy</a>
    <ul class="right">
      <li ng-show="isActive"><a href="#/search">Search</a></li>
      <li ng-show="isActive"><a href="/#/">My Movies</a></li>
      <li ng-show="isActive"><a ng-href="#/logout">Logout</a></li>
    </ul>
</nav>


  <!-- Dropdown Trigger -->

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Rated Movies</a></li>
    <li class="divider"></li>
    <li><a href="#!">Unwatched Movies</a></li>
  </ul>